{%  load static %}
{% include 'header.html' %}


    <main>
        <form method="POST" id="form">
        {% csrf_token %}
            <!-- slider Area Start-->
            <div class="slider-area ">
                <!-- Mobile Menu -->
                <div class="single-slider slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap text-center">
                                    <h2>Calculator Configuration Page</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->


            <br>
            <br>

           <div class="product-wrapper bg-height feature_part">
                <div class="container position-relative">
                    <div class="row justify-content-between">
                          <div class="col-sm-4">
                            <div class="form-group">

                                <label for="markup">Markup:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="markup" id="markup" value="{{ markup }}" />
                                <br>

                                <label for="singapore_rate">Singapore Normal Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="singapore_rate" id="singapore_rate" value="{{ singapore_rate }}" />
                                <br>

                                <label for="singapore_sensitive_rate">Singapore Sensitive Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="singapore_sensitive_rate" id="singapore_sensitive_rate" value="{{ singapore_sensitive_rate }}" />
                                <br>

                                <label for="brunel_rate">Brunel Normal Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="brunel_rate" id="brunel_rate" value="{{ brunel_rate }}" />
                                <br>

                                <label for="brunel_sensitive_rate">Brunel Sensitive Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="brunel_sensitive_rate" id="brunel_sensitive_rate" value="{{ brunel_sensitive_rate }}" />
                                <br>

                                <label for="malaysia1_rate">Malaysia1 Normal Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="malaysia1_rate" id="malaysia1_rate" value="{{ malaysia1_rate }}" />
                                <br>

                                <label for="malaysia1_sensitive_rate">Malaysia1 Sensitive Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="malaysia1_sensitive_rate" id="malaysia1_sensitive_rate" value="{{ malaysia1_sensitive_rate }}" />
                                <br>

                            </div>
                          </div>
                          <div style="border-left: 1px dashed #333;" class="col-sm-4">
                            <div class="form-group">

                                <label for="malaysia2_rate">Malaysia2 Normal Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="malaysia2_rate" id="malaysia2_rate" value="{{ malaysia2_rate }}" />
                                <br>

                                <label for="malaysia2_sensitive_rate">Malaysia2 Sensitive Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="malaysia2_sensitive_rate" id="malaysia2_sensitive_rate" value="{{ malaysia2_sensitive_rate }}" />
                                <br>

                                <label for="convert_rate">Convert Rate:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="convert_rate" id="convert_rate" value="{{ convert_rate }}" />
                                <br>

                                <label for="air_number">Air Number:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="air_number" id="air_number" value="{{ air_number }}" />
                                <br>

                                <label for="sea_1_number">Sea 1 Number:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_1_number" id="sea_1_number" value="{{ sea_1_number }}" />
                                <br>

                                <label for="sea_2_number">Sea 2 Number:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_2_number" id="sea_2_number" value="{{ sea_2_number }}" />
                                <br>
                            </div>
                          </div>
                          <div style="border-left: 1px dashed #333;" class="col-sm-4">
                            <div class="form-group">

                                <label for="sea_1_min">Sea 1 Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_1_min" id="sea_1_min" value="{{ sea_1_min }}" />
                                <br>

                                <label for="sea_1_price_under_min">Sea 1 Price Under Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_1_price_under_min" id="sea_1_price_under_min" value="{{ sea_1_price_under_min }}" />
                                <br>

                                <label for="sea_1_price_over_min">Sea 1 Price Over Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_1_price_over_min" id="sea_1_price_over_min" value="{{ sea_1_price_over_min }}" />
                                <br>

                                <label for="sea_2_min">Sea 2 Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_2_min" id="sea_2_min" value="{{ sea_2_min }}" />
                                <br>

                                <label for="sea_2_price_under_min">Sea 2 Price Under Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_2_price_under_min" id="sea_2_price_under_min" value="{{ sea_2_price_under_min }}" />
                                <br>

                                <label for="sea_2_price_over_min">Sea 2 Price Over Minimum:&nbsp;&nbsp;</label>
                                <input class="form-control" style="width:100px" type="number" step="0.01" name="sea_2_price_over_min" id="sea_2_price_over_min" value="{{ sea_2_price_over_min }}" />
                                <br>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <br>
          <div class="dimensions text-center">
              <input type="submit" value="Save" class="btn-outline-primary">
          </div>
        </form>

    </main>

{% include 'footer.html' %}

	<!-- JS here -->


		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>