{%  load static %}
{% include 'header.html' %}


    <p class="text-center" style="border-style: solid; border-color: crimson; background-color: crimson; color: black;">Sometimes the weight or the other dimensions showed on the provider's website may be incorrect which makes the calculator not 100% correct. Every order will be measured again when it arrives at the warehouse. </p>
    <main>
        <form action="{% url 'calculator' %}" method="POST" id="form">
        {% csrf_token %}
            <!-- slider Area Start-->
            <div class="slider-area ">
                <!-- Mobile Menu -->
                <div class="single-slider slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap text-center">
                                    <h2>Calculator</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
            <!-- slider Area End-->

            {% if item_price %}
            <div class="row justify-content-md-center">
                <div class="col col-lg-12">

                    <br>
                    <br>
                        <div id="results text-center">
                            <table class="table table-bordered text-center" style="width: 50%; margin-left: auto;margin-right: auto;">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Total Item Price</th>
                                  <th scope="col">Shipping Type</th>
                                  <th scope="col">Shipping Cost</th>
                                  <th scope="col">Total Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% if air_price %}
                                <tr>
                                  <td>{{ item_price }}</td>
                                  <td>Air Shipping</td>
                                  <td>{{ air_price }}</td>
                                  <td>{{ total_air_price }}</td>
                                </tr>
                                {% endif %}
                                {% if sea_price %}
                                <tr>
                                  <td>{{ item_price }}</td>
                                  <td>Sea Bulky Shipping</td>
                                  <td>{{ sea_price }}</td>
                                  <td>{{ total_sea_price }}</td>
                                </tr>
                                {% endif %}
                                {% if sea2_price %}
                                <tr>
                                  <td>{{ item_price }}</td>
                                  <td>Sea Small Shipping</td>
                                  <td>{{ sea2_price }}</td>
                                  <td>{{ total_sea2_price }}</td>
                                </tr>
                                {% endif %}
                              </tbody>
                            </table>
                        </div>

                        <br>
                      <div class="dimensions text-center">
                          <a type="submit" href="{% url 'calculator' %}" class="btn-outline-primary">Calculate Again</a>
                      </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-md-center text-center">
                <div class="col col-lg-2">

                  <div class="main-price" style="float:right;">

                    <label for="item_price" >Item Price:&nbsp;</label>
                    <input type="number" step="0.01" name="item_price" id="item_price"  />
                      <br>
                    <label for="domestic" >Domestic:&nbsp;&nbsp;</label>
                    <input type="number" step="0.01" name="domestic" id="domestic" />


                  </div>
                    <br>
                    <br>
                </div>

                <div style="border-left: 1px dashed #333;" class="col col-lg-2">
                  <div class="options">

                      <label for="country">Select Country:</label>
                      <select name="country" id="country" >
                          <option value="malaysia1">West Malaysia</option>
                          <option value="malaysia2">East Malaysia</option>
                          <option value="singapore">Singapore</option>
                          <option value="brunel">Brunel</option>
                      </select>
                        <br>

                        <br>
                      <p>Choose one:</p>
                        <input type="radio" id="normal" name="rate" value="normal" checked>
                        <label for="normal">Normal Rate</label><br>
                        <input type="radio" id="sensitive" name="rate" value="sensitive">
                        <label for="sensitive">Sensitive Rate</label><br>
                  </div>
                </div>

                <div style="border-left: 1px dashed #333;" class="col col-lg-2" style="float:left;">
                  <div class="dimensions">

                    <label for="length">Length:</label>
                    <input type="number" step="0.01" name="length" id="length" />
                    <br>
                    <label for="width">Width:&nbsp;&nbsp;</label>
                    <input type="number" step="0.01" name="width" id="width" />
                    <br>
                    <label for="height">Height:&nbsp;</label>
                    <input type="number" step="0.01" name="height" id="height" />
                    <br>
                    <label for="weight">Weight:</label>
                    <input type="number" step="0.01" name="weight" id="weight" />

                  </div>
                </div>
            </div>
            <br>
          <div class="dimensions text-center">
              <input type="submit" value="Calculate" class="btn-outline-primary">
          </div>
        {% endif %}
        </form>

    </main>

{% include 'footer.html' %}

	<!-- JS here -->


		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script>
            function isNumeric(value) {
                return /^-?\d+$/.test(value);
            }
            $("#form").submit(function(e) {
                price = document.getElementById("item_price").value;
                domestic = document.getElementById("domestic").value;
                length = document.getElementById("length").value;
                width = document.getElementById("width").value;
                height = document.getElementById("height").value;
                weight = document.getElementById("weight").value;
                if(price == ""){
                    e.preventDefault();
                    }
                if(length == "" || width == "" || height == "" || weight == ""){
                    e.preventDefault();
                    }
            });
        </script>
    </body>
</html>