{%  load static %}
<!doctype html>
{% include 'header.html' %}


    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Search for Products</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <script>

         function send_value(){
             var store
             if (document.getElementById("tokopedia").ariaSelected === "true") {
                 store = "Tokopedia";
             }else {
                 store = "Shopee";
             }
             $.ajax({
             url: "{% url 'catagori' %}",
             method : 'POST',
             data: {
                 Search: $('#search').val(),
                 Store: store
             },
             beforeSend: function() {
              // things to do before submit
             },
             success: function(response) {
              }
              });
        }

        </script>

        <form action="{% url 'catagori' %}" method="POST">
            <div class="col-xl-7 col-lg-3 col-md-3 col-sm-3 fix-card ml-auto mr-auto latest-padding text-center">
                <h2>Find what you want! Start your indonesian shopping journey now!</h2>
                <br>
                <div class="input-group">
                       {% csrf_token %}
                          <input type="search" class="form-control rounded" placeholder="Search with keyword or item link..." aria-label="Search"
                            aria-describedby="search-addon" name="Search" />
                          <input type="number" value="1" name="page" hidden>
                          <input type="text" id="top_nav1" value="{{ top_nav }}" name="top_nav" hidden>
                          <input type="submit" value="Search" class="btn-outline-primary">
                </div>
            </div>
        </form>

        {% if title != None %}
            <h1 class="text-center" style="font-family: Arial, Helvetica, sans-serif;">Results for: {{ title }}</h1>

            <!-- Latest Products Start -->
            <section class="latest-product-area">
                <div class="container">
                    <div class="row product-btn d-flex justify-content-between">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        {% if top_nav == "tokopedia" %}
                                            <a onclick="getElementById('top_nav1').value = this.id;getElementById('top_nav2').value = this.id;getElementById('top_nav3').value = this.id;" class="nav-item nav-link active" id="tokopedia" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tokopedia</a>
                                            <a onclick="getElementById('top_nav1').value = this.id;getElementById('top_nav2').value = this.id;getElementById('top_nav3').value = this.id;"" class="nav-item nav-link" id="shopee" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Shopee</a>
                                        {% else %}
                                            <a onclick="getElementById('top_nav1').value = this.id;getElementById('top_nav2').value = this.id;getElementById('top_nav3').value = this.id;"" class="nav-item nav-link" id="tokopedia" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tokopedia</a>
                                            <a onclick="getElementById('top_nav1').value = this.id;getElementById('top_nav2').value = this.id;getElementById('top_nav3').value = this.id;"" class="nav-item nav-link active" id="shopee" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Shopee</a>
                                        {% endif %}
                                    </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                    </div>
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                    {% if top_nav == "tokopedia" %}
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% else %}
                        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% endif %}
                            <div class="row">
                                {% for key, values in context_tokopedia.items %}
                                <div class="col-xl-2 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ values.image }}" alt="">
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {{ values.detailRating }}
                                                {% for i in list_numbers %}
                                                    {% if i <= values.rating %}
                                                        <i class="far fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star low-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'product_page_tokopedia' values.url %}" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;">{{ values.name|truncatechars:50 }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>Rp{{ values.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Card two -->

                    {% if top_nav == "tokopedia" %}
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% else %}
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% endif %}
                            <div class="row">
                                {% for key, values in context_shopee.items %}
                                <div class="col-xl-2 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ values.image }}" alt="">
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {{ values.detailRating }}
                                                {% for i in list_numbers %}
                                                    {% if i <= values.rating %}
                                                        <i class="far fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star low-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'product_page_shopee' values.url %}" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;">{{ values.name|truncatechars:50 }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>Rp{{ values.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <!-- End Nav Card -->
                </div>
            </section>
            <!-- Latest Products End -->
        <div class="container text-right">
            <div class="row text-right">
                <div class="col-xl-5"></div>
                <div class="col-xl-5">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          <form action="{% url 'catagori' %}" method="POST">
                               {% csrf_token %}
                                  <input type="search" value="{{ title }}" name="Search" hidden/>
                                  <input type="number" value="{{ previous }}" name="page" hidden>
                                  <input type="text" id="top_nav2" value="{{ top_nav }}" name="top_nav" hidden>
                              {% if previous == 0 %}
                                  <li class="page-item disabled"><input class="page-link" value="Previous" type="submit"></li>
                              {% else %}
                                  <li class="page-item"><input class="page-link" value="Previous" type="submit"></li>
                              {% endif %}
                          </form>
                          <li class="page-item disabled"><input class="page-link" value="{{ page }}" type="submit"></li>
                          <form action="{% url 'catagori' %}" method="POST">
                               {% csrf_token %}
                                  <input type="search" value="{{ title }}" name="Search" hidden/>
                                  <input type="number" value="{{ next }}" name="page" hidden>
                                  <input type="text" id="top_nav3" value="{{ top_nav }}" name="top_nav" hidden>
                                  <li class="page-item"><input class="page-link" value="Next" type="submit"></li>
                          </form>
                      </ul>
                    </nav>
                    <br>
                </div>
            </div>
        </div>
        {% endif %}




        <div class="latest-wrapper lf-padding">
            <div class="latest-area latest-height d-flex align-items-center" data-background="{% static 'assets/img/taken4.jpg' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-5 col-lg-5 col-md-6">
                            <div class="latest-caption">
                                <h2>Offer Bulan Jun</h2>
                                <p>Penurunan kos pos ke RM35* dari harga asal RM40*. Jangan ketinggalan untuk mendapatkan Offer Terhebat Ini!</p>
                            </div>
                        </div>
                         <div class="col-xl-4 col-lg-5 col-md-6 ">
                            <div class="latest-subscribe">
                                <form action="https://wa.me/60168108458">
                                    <button>WHATSAPP SEKARANG</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

{% include 'footer.html' %}
   
	<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>