{%  load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

   <body>
       


    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul class="contact-now">
                                        <li>+60 111 030 0940</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                   <ul>
                                       <li><a>Kadar tukar RM 1= RP 3300 , Kadar upah 10% dari total cost</a></li>
                                   </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="home"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="home">Home</a></li>
                                            <li><a href="shop">Shop</a></li>
                                            {% if user.is_superuser %}
                                            <li><a href="calculator">Calculator</a>
                                                <ul class="submenu">
                                                    <li><a href="calculator_configuration">Configure calculator</a></li>
                                                </ul>
                                            </li>
                                            {% else %}
                                            <li><a href="calculator">Calculator</a></li>
                                            {% endif %}

                                            <li><a href="#">Pages</a>
                                                <ul class="submenu">
                                                    <li><a href="#">Tracking</a></li>
                                                    <li><a href="#">Frequently asked questions</a></li>
                                                    <li><a href="#">Terms and conditions</a></li>
                                                    <li><a href="#">Testimonial</a></li>
                                                    <li><a href="#">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    {% if user.is_authenticated %}
                                       <li class="d-none d-lg-block"> <a href="my_orders" class="btn header-btn">My Orders</a></li>
                                       <li class="d-none d-lg-block"> <a href="logout" class="btn header-btn">Log Out</a></li>
                                    {% else %}
                                       <li class="d-none d-lg-block"> <a href="login" class="btn header-btn">Sign in</a></li>
                                       <li class="d-none d-lg-block"> <a href="signup" class="btn header-btn">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Search for Products</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <script>

         function send_value(){
             var store
             if (document.getElementById("tokopedia").ariaSelected === "true") {
                 store = "Tokopedia";
             }else {
                 store = "Shopee";
             }
             $.ajax({
             url: "{% url 'catagori' %}",
             method : 'POST',
             data: {
                 Search: $('#search').val(),
                 Store: store
             },
             beforeSend: function() {
              // things to do before submit
             },
             success: function(response) {
              }
              });
        }

        </script>

        <form action="{% url 'catagori' %}" method="POST">
            <div class="col-xl-7 col-lg-3 col-md-3 col-sm-3 fix-card ml-auto mr-auto latest-padding">
                <div class="input-group">
                       {% csrf_token %}
                          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" name="Search" />
                          <input type="submit" value="Search" class="btn-outline-primary">
                </div>
            </div>
        </form>


        {% if title != None %}
            <h1 class="text-center" style="font-family: Arial, Helvetica, sans-serif;">Results for: {{ title }}</h1>

            <!-- Latest Products Start -->
            <section class="latest-product-area">
                <div class="container">
                    <div class="row product-btn d-flex justify-content-between">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link" id="tokopedia" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tokopedia</a>
                                        <a class="nav-item nav-link active" id="shopee" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Shopee</a>
                                    </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                    </div>
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                {% for key, values in context_tokopedia.items %}
                                <div class="col-xl-2 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ values.image }}" alt="">
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {{ values.detailRating }}
                                                {% for i in list_numbers %}
                                                    {% if i <= values.rating %}
                                                        <i class="far fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star low-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'product_page_tokopedia' values.url %}" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;">{{ values.name|truncatechars:50 }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>Rp{{ values.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Card two -->
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                {% for key, values in context_shopee.items %}
                                <div class="col-xl-2 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ values.image }}" alt="">
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {{ values.detailRating }}
                                                {% for i in list_numbers %}
                                                    {% if i <= values.rating %}
                                                        <i class="far fa-star"></i>
                                                    {% else %}
                                                        <i class="far fa-star low-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'product_page_shopee' values.url %}" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;">{{ values.name|truncatechars:50 }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>Rp{{ values.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <!-- End Nav Card -->
                </div>
            </section>
            <!-- Latest Products End -->

        {% endif %}

        <div class="latest-wrapper lf-padding">
            <div class="latest-area latest-height d-flex align-items-center" data-background="{% static 'assets/img/taken4.jpg' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-5 col-lg-5 col-md-6">
                            <div class="latest-caption">
                                <h2>Offer Bulan Jun</h2>
                                <p>Penurunan kos pos ke RM35* dari harga asal RM40*. Jangan ketinggalan untuk mendapatkan Offer Terhebat Ini!</p>
                            </div>
                        </div>
                         <div class="col-xl-4 col-lg-5 col-md-6 ">
                            <div class="latest-subscribe">
                                <form action="#">
                                    <button>WHATSAPP SEKARANG</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

   <footer>

       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                             <!-- logo -->
                            <div class="footer-logo">
                                <a href="home"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Tolong Beli </p>
                               </div>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Quick Links</h4>
                               <ul>
                                   <li><a href="home">Home</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a href="my_orders">My Orders</a></li>
                                        <li><a href="logout">Log Out</a></li>
                                    {% else %}
                                        <li><a href="login">Sign In</a></li>
                                        <li><a href="signup">Register</a></li>
                                    {% endif %}
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Shopping</h4>
                               <ul>
                                   <li><a href="shop">Shop</a></li>
                                   <li><a href="calculator">Calculator</a></li>
                                   <li><a href="#">Tracking</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Support</h4>
                               <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://www.fiverr.com/mariano_b" target="_blank">Mariano Baçi</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                   </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
       </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>